body {
    background-color: rgb(243, 236, 236);
}

/* jumbotron */
div.jumbotron {
    padding: 1rem;
    background-color: rgb(42, 42, 44);
}

div.jumbotron h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

/* search button */
#search {
    background-color: rgb(73, 149, 179);
    color: white;
}

/* weather results */
div.weather-results {
    background: white;
    border: 1px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* forecast cards */
div.card {
    float: left;
    width: auto;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(73, 149, 179);
}

div.card-body {
    color: white;
    font-size: 14px;
}

/* uv index number */
p.uv-number {
    color: white;
    padding: 5px;
    position: absolute;
    left: 93px;
    top: 173px;
    border-radius: 5px;
}

/* uv index color options */
p.low {
    background-color: green;
}

p.moderate {
    background-color: yellow;
}

p.high {
    background-color: orange;
}

p.severe {
    background-color: red;
}

p.extreme {
    background-color: purple;
}

/* search history buttons */
button.search-history-btn {
    width: 100%;
    text-align: left;
    background-color: white;
    border: 1px solid darkgray;
    margin: 1px;
}

button.clear-search-history {
    margin-top: 15px;
    background-color: white;
}